/* Color Pallete for my website chosen from Coolor*/
* {
  --Caribeean-Current: rgb(40, 102, 110);
  --Sage: rgb(181, 182, 130);
  --Peach-Yellow: rgb(254, 220, 151);
  --Light-Sky-Blue: rgb(144, 194, 231);
  --Rose-Taupe: #8b635c;
  --Silver: #bdb4b2;
  --Jet: #342f2e;;
}
body {
  background-image: linear-gradient(
    rgba(254, 220, 151, 0),
    rgba(254, 220, 151, 1)
  );
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

header {
  color: var(--Rose-Taupe);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items:center;
  gap: 8rem;
}
header a{
    text-decoration: none;
}

.logo img {
  background-image: url(../index.html);
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 5rem;
  position: absolute;
  top: -100px;
  right: 80px;
  z-index: 1;
}

nav {  
  overflow: hidden;
  background-color:var(--Jet);
  position: fixed;
  top:0%;
  width: 100%;
  left: 0%;
}

nav a {
  text-decoration: none;
  background-color: var(--Jet);
  color: var(--Peach-Yellow);
  padding: .20rem;
  display:flex;
  text-indent: 1rem;
  
}

nav a:hover {
  background-color: var(--Peach-Yellow);
  color: var(--Rose-Taupe);
  width: 50%;
}
.Destinations {
  margin-top: 175dvw;
  background-color: rgba(144, 194, 231,0.4);
  padding: 1rem;
  border-radius: 5%;
}
.Destinations img {
  width: 75dvw;
}
.country {
  margin-top: 175dvw;
  background-color: var(--Light-Sky-Blue,0.1);
  padding:1rem;
  border: 5%;
  }
.country img{
width:75dvw;
}


@media screen and (width > 600px) {
  main {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
  }

  }

  .Destinations {
    margin-top: 5dvw;
  }
  .Destinations img {
    width: 350px;
    height: 350px;
    border-radius: 1rem;
  }
  .country {
    margin-top: 5dvw;
  }
  .country img {
    width: 350px;
    height: 350px;
    border-radius: 1rem;
}

@media screen and (width < 600px) {
nav a {
  display: flex;
  
  

}
}
/* nav {  
  overflow: hidden;
  background-color:var(--Jet);
  position: fixed;
  top:0%;
  width: 100%;

}

nav a {
  text-decoration: none;
  background-color: var(--Jet);
  color: var(--Peach-Yellow);
  padding: .75rem;
  display:flex;
  float: left;
  text-indent: 100px;
} */